<p>This is the partial for registration.</p>

<table align="center" width="500"  border="0" cellspacing="2" cellpadding="3">
    <tr>
        <td width="30%">State </td>
        <td width="70%">
            <select name="state" id="state">
                <option value="Andhra Pradesh">Andhra Pradesh</option>
            </select>
        </td>
    </tr>
    <tr>
        <td width="30%">District </td>
        <td width="70%">
            <select name="district" id="district">
                <option value="Warangal">Warangal</option>
            </select>
        </td>
    </tr>
    <tr>
        <td width="30%">Mandal </td>
        <td width="70%">
            <select name="mandal" id="mandal">
                <option value="Mogullapalle">Mogullapalle</option>
            </select>
        </td>
    </tr>
    <tr>
        <td width="30%">Village </td>
        <td width="70%">
            <select name="village" id="village">
                <option value="Banglapalle">Banglapalle</option>
            </select>
        </td>
    </tr>
    <tr>
        <td width="30%">Category </td>
        <td width="70%">
            <select name="category" id="category">
                <option value="BAJANAMANDALI">BAJANAMANDALI</option>
                <option value="SRIVARI SEVA">SRIVARI SEVA</option>
                <option value="PRAVACHAM">PRAVACHAM</option>
                <option value="PUROHIT/ARCHAKA">PUROHIT/ARCHAKA</option>
                <option value="DONORS">DONORS</option>
                <option value="GOVINDAM PARAMANANDAM">GOVINDAM PARAMANANDAM</option>
                <option value="LOCAL TEMPLE">LOCAL TEMPLE</option>
                <option value="KOLATAM">KOLATAM</option>
                <option value="CULTURAL">CULTURAL</option>
                <option value="OTHERS">OTHERS</option>
            </select>
        </td>
    </tr>
    <tr>
        <td width="30%">Temple </td>
        <td width="70%">
            <select name="village" id="village">
                <option value="0">no temple</option>
            </select>
        </td>
    </tr>
    <tr>
        <td width="18%">Name </td>
        <td width="82%"><input name="name" type="text" id="name" /></td>
    </tr>
    <tr>
        <td>Email </td>
        <td><input name="email" type="text" id="email"  /></td>
    </tr>
    <tr>
        <td>Phone (Mobile) </td>
        <td><input name="phone" type="text" id="phone"  /></td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>
            <label>
                <input id="submit" name="Submit" type="button"  value="Search" />
            </label>
        </td>
    </tr>

</table>
